# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7abe8103ccceb7d1fa98fb83c13accaf5b0f0ae6bbd0c0867701007acea3fad423229070c937a97674fe1c82d8acda1997eb7c65cf4cf93a6990d41821a4b2c8

test:
  secret_key_base: 97cf61a2760e6d4a180f744a228049761c11d36d48b46c8ca06f0ee45470f8db3d133cb89c3555eb95dfb72715871695ca06987e3546bcb09336be61f5dd49bb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: d543caf24ef7f160ce787e80b48fbfac99191020f5fb9e6f00778a28ec5303c61f9697fdac5f0963c48d0fe5e3006c07b0f421c4682693708e31ece3d9a5b11e
